<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574142341348-7sb1tim1ncf2h6rfpku1pblfvemgpr50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574142341348-7sb1tim1ncf2h6rfpku1pblfvemgpr50</string>
	<key>API_KEY</key>
	<string>AIzaSyCNTm1ch9Orkpz9cyPS_KZ-Uf6Ynj5U_nk</string>
	<key>GCM_SENDER_ID</key>
	<string>574142341348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginProjects</string>
	<key>PROJECT_ID</key>
	<string>loginproject-f498b</string>
	<key>STORAGE_BUCKET</key>
	<string>loginproject-f498b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574142341348:ios:3a05138916b91abca3ccf1</string>
</dict>
</plist>